<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandora.domain.convertiblebond.mapper.ConvertibleBondShotRegisterMapper">
    <resultMap id="BaseResultMap" type="com.pandora.domain.convertiblebond.model.ConvertibleBondShotRegister">
        <id column="id" property="id"/>
        <result column="bond_code" property="bondCode"/>
        <result column="bond_name" property="bondName"/>
        <result column="user_id" property="userId"/>
        <result column="email" property="email"/>
        <result column="is_send" property="isSend"/>
        <result column="send_time" property="sendTime"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, bond_code, bond_name, user_id, email, is_send, send_time, last_modify_time, create_time
    </sql>

    <insert id="insert" parameterType="ConvertibleBondShotRegister">
        INSERT INTO convertible_bond_shot_register(id, bond_code, bond_name, user_id, email, is_send, send_time)
        VALUES
        (#{id}, #{bondCode}, #{bondName}, #{userId}, #{email}, #{isSend}, #{sendTime})
    </insert>

    <select id="findCountByUserIdAndBondCode" parameterType="map" resultType="Integer">
        SELECT count(1)
        FROM convertible_bond_shot_register
        WHERE user_id = #{userId} AND bond_code = #{bondCode}
    </select>

    <select id="findPageByUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList"/>
        FROM convertible_bond_shot_register
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT #{offset}, #{size}
    </select>
</mapper>