<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pandora.domain.fund.fixedinvestment.mapper.FundFixedInvestmentConditionMapper">
    <resultMap id="BaseResultMap" type="com.pandora.domain.fund.fixedinvestment.model.FundFixedInvestmentCondition">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="fund_code" jdbcType="VARCHAR" property="fundCode"/>
        <result column="fund_name" jdbcType="VARCHAR" property="fundName"/>
        <result column="target_market_value" jdbcType="DECIMAL" property="targetMarketValue"/>
        <result column="first_category_of_cycle" jdbcType="VARCHAR" property="firstCategoryOfCycle"/>
        <result column="second_category_of_cycle" jdbcType="VARCHAR" property="secondCategoryOfCycle"/>
        <result column="positive_increase" jdbcType="DECIMAL" property="positiveIncrease"/>
        <result column="negative_increase" jdbcType="DECIMAL" property="negativeIncrease"/>
        <result column="per_amount" jdbcType="DECIMAL" property="perAmount"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, fund_code, fund_name, target_market_value, first_category_of_cycle, second_category_of_cycle,
        positive_increase, negative_increase, per_amount, email, user_id, status, created_time, last_modified_time
    </sql>

    <insert id="insert" parameterType="FundFixedInvestmentCondition">
        INSERT INTO fund_fixed_investment_condition
        (id, fund_code, fund_name, target_market_value, first_category_of_cycle, second_category_of_cycle,
        positive_increase, negative_increase, per_amount, email, user_id, status)
        VALUES(#{id}, #{fundCode}, #{fundName}, #{targetMarketValue}, #{firstCategoryOfCycle}, #{secondCategoryOfCycle},
        #{positiveIncrease}, #{negativeIncrease}, #{perAmount}, #{email}, #{userId}, #{status})
    </insert>

    <select id="findCountByUserIdAndFundCode" parameterType="map" resultType="Integer">
        SELECT count(*) FROM fund_fixed_investment_condition
        WHERE fund_code = #{fundCode} AND user_id = #{userId}
    </select>

    <select id="findPageByUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM fund_fixed_investment_condition
        WHERE user_id = #{userId}
        ORDER BY created_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="findById" parameterType="String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM fund_fixed_investment_condition
        WHERE id = #{id}
    </select>

    <update id="updateStatusById" parameterType="map">
        UPDATE fund_fixed_investment_condition
        SET status = #{status}
        WHERE id = #{id}
    </update>
</mapper>
