<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pandora.domain.user.mapper.PositionMapper">
    <resultMap id="BaseResultMap" type="com.pandora.domain.user.model.Position">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="fund_code" jdbcType="VARCHAR" property="fundCode"/>
        <result column="fund_name" jdbcType="VARCHAR" property="fundName"/>
        <result column="share" jdbcType="DECIMAL" property="share"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, fund_code, fund_name, share, last_modified_time, created_time
    </sql>

    <insert id="insert" parameterType="Position">
        INSERT INTO `position`(user_id, fund_code, fund_name, share)
        VALUES(#{userId}, #{fundCode}, #{fundName}, #{share})
    </insert>

    <select id="getPositionByFundCodeAndUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `position`
        WHERE user_id = #{userId} AND fund_code =#{fundCode}
    </select>

    <update id="updateShareByUserIdAndFundCode" parameterType="map">
        UPDATE `position` SET share = share + #{share} WHERE user_id = #{userId} AND fund_code = #{fundCode}
    </update>

    <select id="findByUserId" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `position`
        WHERE user_id = #{userId}
    </select>

    <select id="findCountByUserIdAndFundCode" parameterType="map" resultType="Integer">
        SELECT count(1)
        FROM `position`
        WHERE user_id = #{userId} AND fund_code = #{fundCode}
    </select>
</mapper>
